{% extends "layout.html" %} {% block body %}


<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">Post your daily blogs here!</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <h1>All posts will be shown here</h1>
            {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.slug}}" style="color: rgb(0, 0, 0);">
                    <h2 class="post-title">{{ post.title }}

                    </h2>
                    <h3 class="post-subtitle">
                        {{post.tagline}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Admin</a> on {{post.date}}</p>
            </div>

            {{post.content[0:143]}}...
            <hr>
            </li>
            </a>
            {% endfor %}


            <!-- Pager -->


        </div>
    </div>
</div>
{% endblock %}